<form [formGroup]="form" class="flex items-center justify-between w-full">
  <div class="flex items-center w-full space-x-8">
    <mat-form-field class="w-1/3 text-blue-800 focus:outline-none">
      <mat-label>{{attributeNameLabel}}</mat-label>
      <input matInput placeholder="Example: {{attributeNameExample}}" formControlName="name" required>
    </mat-form-field>
    <span class="text-xs ">{{equalityLabel}}</span>
    <mat-form-field class="w-1/3 text-blue-800 focus:outline-none">
      <mat-label>{{attributeValueLabel}}</mat-label>
      <input matInput placeholder="Example: {{attributeValueExample}}" formControlName="value" required>
    </mat-form-field>
  </div>
  <mat-icon class="cursor-pointer material-icons-outlined" (click)="remove.emit()">delete_forever
  </mat-icon>
</form>
