<div class="flex flex-col">

  <div class="flex flex-col text-blue-800">
    <span class="pt-2 text-xs font-bold text-purple-800 bg-purple-50"><span class="pr-2 uppercase">Setup Gitlab
        Integration</span>
      <span (click)="showInstruction=!showInstruction" class="cursor-pointer">(click here for information)</span>
    </span>
    <div *ngIf="showInstruction" class="flex flex-col p-2 bg-blue-50">
      <div class="flex items-center space-x-2">
        <fa-icon class="ml-0.5 text-base font-normal text-center text-blue-400" title="Info" [icon]="faInfo">
        </fa-icon>
        <div class="w-full text-sm">
          This integration requires a personal access token that CheckMate uses to track your GitLab codebase.
        </div>
      </div>
      <div class="flex flex-col pt-2 mx-6 text-sm">
        <p>
          The steps reqired to create a Personal Access Token are as follows:

        </p>
        <ol>
          <li>1. Go to <span class="font-bold">User Settings</span> on GitLab</li>
          <li>2. Select <span class="font-bold">Access Tokens</span></li>
          <li>3. Give a name to your <span class="font-bold">Personal Access Token</span> (e.g. <span
              class="italic">checkmate</span>)</li>
          <li>4. Generate a <span class="font-bold">Personal Access Token</span> with <span
              class="font-bold">read_api</span> scope</li>
        </ol>
      </div>
    </div>
    <div class="flex items-center w-full">
      <form [formGroup]="connectForm" class="flex flex-col items-center justify-between w-full p-2 space-x-2 text-sm">
        <div class="relative flex w-full focus:outline-none">

          <mat-form-field class="w-1/2 text-blue-800 focus:outline-none">
            <mat-label>GitLab Instance URL</mat-label>
            <input matInput placeholder="Example: https://gitlab.mydomain.com" formControlName="instanceURL" required>
          </mat-form-field>

          <mat-form-field class="w-1/2 pl-10 text-blue-800 focus:outline-none">
            <mat-label>API key name</mat-label>
            <input matInput placeholder="Example: checkmate" formControlName="apiKeyName" required>
          </mat-form-field>
        </div>
        <div class="flex items-center justify-between w-full">
          <mat-form-field class="w-1/2 text-blue-800 focus:outline-none">
            <mat-label>Personal Access Token (with read_api scope)</mat-label>
            <input matInput placeholder="Example: glpat-HmQHapi68EUbAZyeAbBa" formControlName="accessToken" required>
          </mat-form-field>

          <div class="pl-10"><button [disabled]="!connectForm.valid" mat-button (click)="createIntegration()"
              class="w-full py-2 mt-6 text-xs font-medium leading-3 text-indigo-700 bg-indigo-100 rounded-md hover:bg-indigo-200">Monitor
              GitLab Instance</button>
          </div>

        </div>
      </form>


    </div>

  </div>

  <hr class="my-2">

  <div class="flex flex-col w-full">
    <span class="pt-2 text-xs font-bold text-purple-800 bg-purple-50"><span class="pr-2 uppercase">Existing Gitlab
        Integrations</span>
    </span>

    <div class="p-2 overflow-y-auto border-2 border-purple-200 rounded max-h-96">
      <div class="grid grid-cols-12 mt-4 mb-2 text-xs font-semibold text-gray-600 uppercase">
        <div class="col-span-3">Access Token Name</div>
        <div class="col-span-7">GitLab Instance URL</div>
      </div>
      <div *ngFor="let git of gitLabConnections" class="flex flex-col">
        <hr class="my-2">
        <div class="grid grid-cols-12 space-x-1 text-sm text-blue-700 hover:bg-blue-100">
          <span class="col-span-3">{{git.Name}}</span>
          <span class="col-span-7">{{git.InstanceURL}}</span>
          <div class="col-span-2">
            <div (click)="deleteBinding(git.ID)" class="cursor-pointer">
              <fa-icon class="ml-0.5 text-base font-normal text-center text-blue-400" title="Delete" [icon]="faTrash">
              </fa-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
