<div class="relative flex flex-col h-full overflow-auto">

  <div class="absolute top-1/2 left-1/2" *ngIf="showSpinner">
    <mat-spinner></mat-spinner>
  </div>

  <div class="relative pb-4">

    <div class="fixed z-10 w-full min-w-full bg-purple-100 ">
      <div class="container flex flex-wrap items-stretch w-full mb-2 focus:outline-none">
        <span
          class="absolute z-50 items-center justify-center w-8 h-full py-1 pl-2 text-base font-normal leading-snug text-center text-gray-400 bg-transparent rounded">
          <fa-icon
            class="absolute z-50 items-center justify-center h-full py-1 -ml-1 text-base font-normal leading-snug text-center text-gray-400 rounded "
            title="Search" size="sm" [icon]="faSearch">
          </fa-icon>
        </span>
        <input placeholder="Filter Projects ..." [(ngModel)]="projNameSearch"
          class="relative flex-grow pl-8 mt-2 ml-2 text-sm font-light text-gray-600 placeholder-gray-400 bg-white border border-purple-400 rounded outline-none focus:outline-none" />
      </div>
    </div>
  </div>
  <div class="relative mt-5 mb-5 overflow-auto">
    <div class="grid gap-6 py-4 mx-5 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
      <div class="relative w-auto overflow-hidden bg-white rounded-lg shadow sm:h-96 md:h-auto">
        <div class="flex w-full text-lg text-center bg-purple-800">
          <p class="py-4 pl-2 text-base lg:pl-6 text-purple-50">Create New Project</p>
        </div>
        <div class="z-0 flex flex-col items-center justify-center h-32 min-h-full pb-6 sm:pb-12">
          <a [routerLink]="['/project-setup']" class="flex text-6xl text-purple-900">+</a>
          <a [routerLink]="['/project-setup']" class="flex text-purple-900">Add project</a>
        </div>
      </div>

      <app-project-summary *ngFor="let summary of projectSummaries$ | async | projectFilter:projNameSearch"
        class="w-auto overflow-hidden bg-white rounded-lg shadow" [projectSummary]=summary>
      </app-project-summary>


    </div>
  </div>
</div>
