<div class="flex flex-col">

  <div class="grid sm:grid-cols-1 lg:grid-cols-3 gap-6 mt-5 mx-5">

    <div class="overflow-hidden h-auto  bg-white w-auto rounded-lg shadow">
      <div class="flex w-full   bg-purple-800 text-lg text-center">
        <p class="py-4 pl-2 lg:pl-6 text-purple-50 text-base">Create New Project</p>
      </div>
      <div class="flex  h-32 min-h-full flex-col items-center justify-center  sm:pb-12 pb-6">
        <a href="#" class="flex text-6xl  text-purple-900">+</a>
        <a href="#" class="flex text-purple-900">Add project</a>
      </div>
    </div>


    <app-project-summary *ngFor="let summary of projectSummaries"
      class="overflow-hidden h-auto  bg-white w-auto rounded-lg shadow" [projectSummary]=summary>
    </app-project-summary>


  </div>
</div>
