<div class="px-2 mt-1 rounded">
    <!-- Tabs -->
    <ul class="flex items-center w-full pt-2 space-x-4">
        <li (click)="clickTab('github')" ngClass="{{gitHubClass}}">
            <div class="space-x-2">
                <fa-icon class="text-purple-800" title="Scan" size="lg" [icon]="faGithub">
                </fa-icon> <span>GitHub</span>
            </div>
        </li>
        <li (click)="clickTab('gitlab')" ngClass="{{gitLabClass}}">
            <div class="space-x-2">
                <fa-icon class="text-purple-800" title="Scan" size="lg" [icon]="faGitlab">
                </fa-icon> <span>GitLab</span>
            </div>
        </li>
    </ul>

    <!-- Tab Contents -->
    <div class="pt-2">
        <div ngClass="{{ghContentClass}}">
            <app-github-settings></app-github-settings>
        </div>
        <div ngClass="{{glContentClass}}">
            <app-gitlab-settings></app-gitlab-settings>
        </div>
    </div>
</div>