<app-header></app-header>
<mat-drawer-container class="drawer-container">
  <mat-drawer class="drawer" mode="side" opened="true">
    <app-sidebar></app-sidebar>
  </mat-drawer>

  <mat-drawer-content class="flex" [@onSideNavChange]="sidebarState">
    <div class="flex relative h-full w-full">
      <router-outlet class="h-full"></router-outlet>
      <app-footer class="absolute inset-x-0 bottom-0 pb-16 w-full bg-purple-900"></app-footer>

    </div>


  </mat-drawer-content>

</mat-drawer-container>
