<div class="flex flex-col h-screen">

  <!-- Top Nav -->
  <div class="flex-none">
    <app-header></app-header>
  </div>

  <div class="relative flex flex-row flex-grow">

    <!-- Side Nav -->
    <app-sidebar class=""></app-sidebar>


    <!-- Content -->
    <div class="flex flex-col w-full p-2">
      <div class="relative flex-grow w-full overflow-auto" style="height: 55pc;">
        <router-outlet></router-outlet>
        <app-footer></app-footer>
      </div>

    </div>

  </div>
</div>
