<div class="flex mt-2">
  <div class="flex flex-col w-full">
    <div class="flex justify-between text-xs">
      <div class="flex">
        <div class="pr-1 font-bold text-gray-500">Description</div>
        <div class="italic text-purple-800">{{issue.justification.headline.description}}</div>
      </div>
      <div class="">
        <div *ngIf="issue.tags" class="pl-2 text-xs">
          <span class="pr-1 font-bold text-gray-500">Tags</span>
          <span class="text-purple-800">{{issue.tags.join(',')}}</span>
        </div>
        <div class="flex text-xs">
          <span class="pr-1 font-bold text-gray-500">Severity</span>
          <span *ngIf="issue.justification.headline.confidence === 'Critical'"
            class="inline-block w-24 px-2 font-semibold tracking-wide text-white uppercase bg-purple-600 min-w-min ">
            Critical</span>
          <span *ngIf="issue.justification.headline.confidence === 'High'"
            class="inline-block w-24 px-2 font-semibold tracking-wide text-white uppercase bg-red-600 min-w-min ">
            High</span>
          <span *ngIf="issue.justification.headline.confidence === 'Medium'"
            class="inline-block w-24 px-2 font-semibold tracking-wide text-white uppercase bg-yellow-600 min-w-min">
            Medium</span>
          <span *ngIf="issue.justification.headline.confidence === 'Low'"
            class="inline-block w-24 px-2 font-semibold tracking-wide text-white uppercase bg-blue-600 min-w-min">
            Low</span>
          <span *ngIf="issue.justification.headline.confidence === 'Info'"
            class="inline-block w-24 px-2 font-semibold tracking-wide text-white uppercase bg-green-600 min-w-min">
            Informational</span>
        </div>
      </div>
    </div>

    <div class="flex pt-1 text-xs">
      <span class="pr-1 font-bold text-gray-500">Location</span>
      <div class="text-gray-600 ">{{issue.location}}</div>
    </div>
  </div>

</div>
